body{
    color: aqua;
    background-image: url(/Images/istockphoto-1128768974-612x612.jpg) ;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
         
}